/* Global */
:root {
  /* Colour */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color--light-purple: #a25df4;
  --color--purple: #8400ff;
  --color--dark-purple: #6500c3;
  --color--indigo: #885df1;
  --color--dark-indigo: #6f42c1;
  --color--darker-indigo: #6610f2;


  /* Font size */
  --font-super-large: 100px;
  --font-more-large: 85px;
  --font-slightly-large: 60px;
  --font-large: 48px;
  --font-medium-large: 38px;
  --font-medium: 28px;
  --font-regular-medium: 23px;
  --font-regular-slight-medium: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-mini: 10px;


  /* Font size */
  /* --font-super-large: 6.4vw;
  --font-large: 2.2rem;
  --font-medium: 1.3rem;
  --font-regular-medium: 1.1rem;
  --font-regular: 1rem;
  --font-small: 16px;
  --font-micro: 14px; */


  /* Font weight */
  --weight-extend-bold: 800;
  --weight-heavy-bold: 700;
  --weight-bold: 600;
  --weight-semi-bold: 500;
  --weight-regular: 400;


  /* Size */
  --size-border-light-radius: 8px; 
  --size-border-medium-radius: 12px; 
  --size-border-heavy-radius: 20px; 
  --size-border-extend-heavy-radius: 25px; 

  /* Animation */
  --animation-3s-duration: 300ms;
  --animation-2s-duration: 200ms;
}


/* Universal tag */
* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: var(--color-black);
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-super-large);
  font-weight: var(--weight-heavy-bold);
  color: var(--color-white);
  margin: 0;
}

h2 {
  font-size: var(--font-more-large);
  font-weight: var(--weight-bold);
  /* margin: 8px 0; */
  margin: 0;
  color: var(--color-white);
}

h3 {
  font-size: var(--font-slightly-large);
  font-weight: var(--weight-bold);
  margin: 8px 0;
  margin: 0;
  color: var(--color-white);
}

h4 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-medium);
}


button {
  padding: 8px 23px;
  border: 2px solid var(--color--light-purple);
  border-radius: var(--size-border-extend-heavy-radius);
  color: var(--color--light-purple);
  transition-duration: .5s;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: var(--color-white);
  background-image: linear-gradient(180deg, var(--color--light-purple), var(--color--darker-indigo) )
}


/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  align-items: center;
  color: var(--color-white);
  padding: 20px 50px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 4;
}

#navbar.navbar--dark {
  padding: 18px 50px;
  /* border-radius: 70px; */
  width: 100%;

}

.navbar__menu {
  display: flex;

}

.navbar__menu__item {
  padding: 6px 17px;
  margin: 0 8px;
  font-size: var(--font-regular-slight-medium);
  font-weight: var(--weight-bold);
  cursor: pointer;
  border: 2px solid var(--color--light-purple);
  border-radius: var(--size-border-extend-heavy-radius);
  color: var(--color--light-purple);
  /* background-color: var(--color-white); */
  transition-duration: .3s;
}

.navbar__menu__item:hover {
  /* border: 1px solid var(--color--purple); */
  color: var(--color-white);
  border-radius: var(--size-border-extend-heavy-radius);
  background-image: linear-gradient(180deg, var(--color--light-purple), var(--color--darker-indigo) )
}


/* Toggle */
.navbar__toggle-btn {
  position: absolute;
  top: 22px;
  right: 32px;
  font-size: 26px;
  color: var(--color-white);
  display: none;
}


/* Home */
#home {
  background-color: var(--color-black);
  text-align: center;
  padding: 200px 0 200px 0;
}

/* Home "home__title" colour change */

.home__title, .hereTohelp, #submit__button, .popup i {
  /* -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #14b8a6, #a855f7, #f97316);
  animation: text 5s ease infinite; */

    background: linear-gradient(-45deg, #14b8a6, #a855f7, #f97316, var(--color--dark-indigo), #fbbf24, var(--color--darker-indigo));
    background-size: 300%;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 900; */
    /* font-size: 5vw; */
    /* letter-spacing: -5px; */
    /* text-transform: uppercase; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 15s ease-in-out infinite;
    -moz-animation: animated_text 15s ease-in-out infinite;
    -webkit-animation: animated_text 15s ease-in-out infinite;
  }
  
  @keyframes animated_text {
    0% { background-position: 0px 50%; }
    20% { background-position: 50% 50%; }
    40% { background-position: 100% 50%; }
    60% { background-position: 50% 50%; }
    80% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
  }


.home__description {
  margin: 50px 0 10px 0;
}

.home__find {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin: 24px;
  /* padding: 8px 23px;
  border: 2px solid var(--color--light-purple);
  border-radius: var(--size-border-extend-heavy-radius);
  color: var(--color--light-purple);
  transition-duration: .3s; */
}


/* Section common */
.section {
  padding: 150px;
  /* max-width: 1200px; */
}

/* Service */
#service {
width: 100%;

}

.service__title {
  background-color: var(--color-white);
  color: var(--color-black);
  margin-bottom: 150px;
}

.service__title h3 {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1200px;
  color: var(--color-black);
}

.service__title h3>span {
  color: var(--color--indigo);
}

.service__extra {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__extra i{
  display: inline-block;
  font-size: 60px;
  position: absolute;
  left: 300px;
  color: var(--color--indigo);

}

.nobox {
  width: 10px;
  height: 10px;
  background-color: #4d4d4d;
  opacity: 0;
}


.service__extra p {
  display: inline-block;
  margin: 0;
  /* margin-left: 1000px; */
  text-align: right;
  max-width: 750px;
  flex-
}


/* Career */
#career {
  text-align: center;
  background-color: var(--color--indigo);
s
}

#career.section {
  padding: 150px 20px;
  /* margin: 0; */
  margin: auto;
  /* max-width: 1300px; */
  /* background-color: var(--color--dark-indigo);
  border-radius: var(--size-border-extend-heavy-radius); */
}

#career h4, #career h2{
  color: var(--color-white);
  font-weight: var(--weight-bold);
}

/* #career h4{
  font-weight: var(--weight-heavy-bold);
} */

#career h2 {
  margin-bottom: 30px;
}

.career_job__posting {
  /* padding-left: 50px; */
  margin-bottom: 50px;
}

.career__screen {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 20px;
  margin-bottom: 160px;
}


.career__screen button:hover {
  transform: scale(1.1);
}

.direction__btn {
  margin-right: 50px;
  /* margin: auto; */
  color: var(--color-white);
  font-size: 50px;
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}

.direction__btn:hover { 
  border: none;
  color: var(--color-black);
}

.career__job__posting__jobs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 1300px; */
  /* max-height: 320px; */
  /* background-color: #14b8a6; */
  margin: auto;
  overflow: hidden;
  opacity: 1;
  transition: all var(--animation-3s-duration);
}

.career__job__posting__jobs.anim-out {
  opacity: 0.92;
  /* transition: all var(--animation-3s-duration); */
}

.job {
  max-width: 400px;
  height: 290px;
  margin: 10px;
  background-color: var(--color-white);
  /* border: 4px solid var(--color--purple); */
  border-radius: var(--size-border-light-radius);
  /* box-shadow: 0 0.8rem 1.6rem 0 rgba(143,0,255,.13); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
  color: var(--color-black);
  
}

.job.invisible {
  display: none;
}

.job:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, 
  rgba(0, 0, 0, 0.12) 0px 3px 3px -2px, 
  rgba(0, 0, 0, 0.14) 0px 3px 4px 0px;
  transform: translateY(-7px) scale(1.005) ;
  transition: all var(--animation-2s-duration) ease-in-out;
}


.career_job__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px ;
  text-align: left;
  margin: auto;
  margin-top: 10px;
}

.career_job__description p:nth-child(1) {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-grey);
  margin: 0;
}

.career_job__description span {
  font-weight: var(--weight-heavy-bold);
  font-size: var(--font-regular);
  margin: 0;
}

.career_job__description p:nth-child(2) {
  font-weight: var(--weight-heavy-bold);
  font-size: var(--font-medium);
  margin: 0;
}

.career_job__description p:nth-child(3) {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  color: var(--color-grey);
}


.career_job__description p:nth-child(4) {
  font-size: var(--font-small);
  font-weight: var(--weight-heavy-bold);
  color: var(--color-light-grey);
}

/* Applying */

.career__applying {
  margin-top: 20px;
}

.career__interest {
  display: flex;
  justify-content: center;
}


.career_interest__wave::before {
  position: absolute;
  content: "";
  right: 32%;
  /* left: 32%; */
  /* top: 20%; */
  width: 50px;
  height: 45px;
  background-color: #b5ac00;
  border-radius: 62% 47% 82% 35% / 45% 95% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: 0;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 85% 25% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,1px,0) rotateZ(0.03deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.05deg);
  }
  67%{
    border-radius: 70% 50% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,2px,0) rotateZ(0.02deg);
  }
}

.career__interest__question {
  z-index: 1;
  font-size: var(--font-slightly-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
}


.career__interest svg {
  /* z-index: 3; */
  width: 90px;
  position: absolute;
  right: 30%;
}


svg {
  z-index: 3;
  width: 50vw;
  max-width: 40rem;
  height: auto;
}

.sparkles {
  animation: logoReveal 7s infinite ease-in-out;
}

@keyframes logoReveal {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sparkles path {
  fill: white;
  transform-origin: 100% 100%;
  transform-box: fill-box;
  animation: sparkle var(--duration) var(--delay) infinite ease-in-out;
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  70% {
    transform: scale(-1, 0);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.career__interest i {
  color: #fbbf24 ;
  z-index: 3;
}
/* #14b8a6, #f97316, #fbbf24 */


.career__interest__description {
  font-size: var(--font-regular-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.application__page {
  font-size: var(--font-regular-medium);
  font-weight: var(--weight-bold);
  padding: 8px 5px;
  padding-left: 20px;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
  display: inline-block;
  align-items: center;
  margin-top: 10px;
  color: var(--color-dark-grey);
}

.application__page:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, 
  rgba(0, 0, 0, 0.12) 0px 3px 3px -2px, 
  rgba(0, 0, 0, 0.14) 0px 3px 4px 0px;
  transform: translate(3px, 3px) scale(1.005) ;
  transition: all var(--animation-2s-duration) ease-in-out;
}



.application__page i {
  font-size: var(--font-medium);
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  background-color: var(--color--indigo);
  color: var(--color-white);
  margin-left: 10px;
}


.career__application {
  display: block;
  margin: auto;
  max-width: 700px;
  max-height: 925px;
  /* background-color: var(--color-white); */
  border-radius: var(--size-border-light-radius);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
  padding: 50px;
  text-align: left;
  margin-top: 50px;
}

.career__application input, label {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.career__application input {
  width: 100%;
  height: 45px;
  margin-bottom: 30px;
  border-radius: var(--size-border-light-radius);
  border: 0.5px solid wheat;
  padding: 0 15px;
  color: var(--color-black);
  align-items: center;
  margin-top: 8px;
}

.application__name {
  display: flex;
}

.application__name input {
  margin: 0;
}

.application__name__first {
  padding-right: 12px;
}

.application__name__last {
  padding-left: 12px;

}

.application__content__form {
  min-height: calc(1.2em + 0.45rem + 2px);
  display: block;
  width: 100%;
  appearance: none;
  text-decoration: none;
  overflow: hidden;
  border-radius: var(--size-border-light-radius);
  border: 0.5px solid wheat;
  padding: 0 15px;
  color: var(--color-black);
  margin-top: 8px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 8px 5px;
  padding-left: 20px;
}

/* textarea {
  resize: vertical;
} */


#submit__button {
  width: 240px;
  border: 2px solid white;
  border-radius: var(--size-border-extend-heavy-radius);
  color: var(--color--light-purple);
  transition-duration: .5s;
  cursor: pointer;
  /* color: var(--color-white); */
  /* background-color: var(--color-white); */
  font-size: var(--font-regular-medium);
  font-weight: var(--weight-extend-bold);
  margin: auto;
  margin-top: 15px;
  text-align: center;
  display: block;
}

#submit__button:hover {
  /* color: var(--color-dark-grey); */
  transform: scale(1.1);
  background-color: var(--color-white);
  /* background-image: linear-gradient(180deg, var(--color--light-purple), var(--color--darker-indigo) ) */

}

/* button {
  padding: 8px 23px;
  border: 2px solid var(--color--light-purple);
  border-radius: var(--size-border-extend-heavy-radius);
  color: var(--color--light-purple);
  transition-duration: .5s;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
} */


/* popup */
.popup {
  margin-bottom: 200px;
  width: 450px;
  background-color: var(--color--darker-indigo);
  border-radius: var(--size-border-medium-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
  /* visibility: hidden; */
  transition: var(--animation-3s-duration), top var(--animation-3s-duration);
  /* z-index: 3; */
}
.popup.open {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}



.popup i {
  margin-top: -90px;
  font-size: var(--font-super-large);

}
.popup h2 {
  margin-top: 10px;
  margin-bottom: 0;
}
.popup p {
  margin-top: 0;
  font-size: var(--font-regular);
  color: var(--color-white);

}

.popup a {
  border: 1.5px solid var(--color-white);
  color: var(--color-white);
  padding: 10px 0;
  width: 100px;
  margin: auto;
  border-radius: var(--size-border-heavy-radius);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
}


/* About */
#about {
  background-color: var(--color-white);
}

#about h2{
color: var(--color-black);
/* text-align: center; */
margin-bottom: 100px;
}

/* Contact */
#contact {
  /* text-align: center; */
  background-color: var(--color-black);
  color: var(--color-white);
}

#contact span:hover {
  color: var(--color--indigo);
}

.contact__links {
  display: flex;

}

.contact__link {
  margin-right: 15px;
}

.contact__link i {
  margin-top: 40px;
  font-size: 30px;
  color: white;
  width: 55px;
  height: 55px;
  /* line-height: 55px; */
  border: 2px solid var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .5s;

  /* margin: auto; */
}

.contact__link i:hover {
  background-image: linear-gradient(180deg, var(--color--light-purple), var(--color--darker-indigo) )
}


#contact.section {
 padding-bottom: 0;
}
.hereTohelp {
  font-weight: var(--weight-heavy-bold);
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #6610f2; */
  border-top: 0.5px solid var(--color-light-grey);
}

.contact__rights {
  font-size: var(--font-small);
  margin: 0;
  padding: 20px 0;
  color: var(--color-light-grey);
}

.footer_businessInfo {
  font-size: var(--font-small);
  color: var(--color-light-grey);
}



/* UpBTn */
.upBtn {
  position: fixed;
  bottom: 200px;
  right: 110px;
  font-size: 60px;
  color: var(--color--dark-purple);
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration);
}

.upBtn:hover {
  color: rgb(0, 255, 76)
}

.upBtn.visible {
  opacity: 1;
  pointer-events: auto;
}


@media screen and (max-width: 1280px) {
  .navbar__menu__item {
    border: 1px solid var(--color--light-purple);
  }

  .home__title {
    max-width: 1000px ;
    margin: auto;
  }

  .service__title h3 {
    font-size: var(--font-large);
    max-width: 730px;
  }

  .service__extra i {
    display: inline-block;
    position: absolute;
    left: 130px;
  }
  
  .job {
    flex-grow: 1;
  }

  .career_interest__wave::before {
    right: 26%;
  }

  .career__interest svg {
    right: 24%;
}

  .footer {
    display: flex;
    flex-direction: column;
  }  

  .footer_businessInfo {
    margin-bottom: 0;
  }


}





@media screen and (max-width: 1160px) {
  .service__extra p {
    max-width: 650px;
  }

  .career__job__posting__jobs {
    max-width: 675px;
    margin: auto;
  }

  .career_interest__wave::before {
    right: 22%;
  }


  .career__interest svg {
    right: 18%;
}

}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--font-slightly-large);
  }
  
  h2 {
    font-size: var(--font-large);
  }
  
  h3 {
    font-size: var(--font-regular-slight-medium);
  }
  
  h4 {
    font-size: var(--font-regular);
  }
  
  p {
    font-size: var(--font-regular);
  }
  
  
  button {
    padding: 8px 23px;
    border: 2px solid var(--color--light-purple);
    border-radius: var(--size-border-extend-heavy-radius);
    color: var(--color--light-purple);
    transition-duration: .5s;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    color: var(--color-white);
    background-image: linear-gradient(180deg, var(--color--light-purple), var(--color--darker-indigo) )
  }

  .navbar__menu__item {
    font-size: var(--font-regular);
  }


  .service__title h3 {
    font-size: var(--font-medium);
    max-width: 500px;
  }

  .service__extra p {
    max-width: 400px;
  }

 
  #contact h2 {
    font-size: var(--font-large);
  }


  .contact__link i {
    /* margin-top: 40px; */
    font-size: 25px;
    width: 48px;
    height: 48px;
  }
  /* .contact__rights {
    max-width: 200px;
  } */

/* - */
  #home{
    padding: 180px 0 80px 0;
  }

  .section {
    padding: 62px;
    padding-top: 120px;
  }
/* 
  .job {
    flex-grow: 1;
  }
   */
  #career.section {
    padding: 120px 62px;
  }

  .career__interest__question {
    /* z-index: 1; */
    font-size: var(--font-medium-large);
    /* font-weight: var(--weight-bold); */
   }
  
  
  .career__interest__description {
    font-size: var(--font-regular-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
  }




  .career_interest__wave::before {
    right: 35%;
    width: 40px;
    height: 40px;
  }


  .career__interest svg {
    right: 31%;
}

.application__page {
  font-size: var(--font-regular-slight-medium);
  font-weight: var(--weight-bold);
  padding: 6px 3px;
  padding-left: 12px;
  border-radius: 50px;
  align-items: center; 
}

.application__page i {
  font-size: var(--font-regular-slight-medium);
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin-left: 6px;
}


}

@media screen and (max-width:900px) {
  #navbar {
    padding: 20px 32px;
  }


  .navbar__menu__item {
    padding: 4px 10px;
    font-size: var(--font-regular);
  }
  
  #navbar.navbar--dark {
    padding: 18px 32px;
  }

  #home{
    padding: 160px 0 60px 0;
  }


  .section {
    padding: 48px;
    padding-top: 110px;
  }


  
  #career.section {
    padding: 110px 48px;
  }

  .career_interest__wave::before {
    right: 33%;
    width: 40px;
    height: 40px;
  }


  .career__interest svg {
    right: 29%;
}




}



@media screen and (max-width:768px) {
  button {
    border-radius: 1 solid 30px;
  }
  /* .navbar__menu__item {
    padding: 1px 10px;
    font-size: var(--font-medium);
  } */

  /* #home{
    padding: 150px 0 55px 0;
  } */

  .navbar__toggle-btn {
    display: block;
    border: none;
    top: 12px;
    right: 12px;
  }

  .navbar__toggle-btn:hover {
    background-image: none;
    color: var(--color--darker-indigo);
  }


  /* .navbar__toggle-btn button {
    background-color: none;
  } */

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px 32px; */
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__menu__item{
    border: none;
  }
  
  .home__title {
    max-width: 650px;
  }

  .section {
    padding: 32px;
    padding-top: 80px;
  }

  #career.section {
    padding: 70px 32px;
  }

  /* #career h4 {
    margin-bottom: 40px;
    max-width: 180px;
    margin: auto;
  } */


  /* #career h4 {
    
    width: 360px;
    margin: auto;
    font-weight: var(--weight-semi-bold);
  } */


  .job {
    max-height: 263px;
  }

  .service__extra {
    /* align-items: flex-end; */
    justify-content: space-between;
  }

  .service__extra i {
    /* display: inline-block; */
    /* position: relative; */
    left: 32px;
    font-size: var(--font-large);
  }

  .career_job__description {
    margin-top: 0;
  }


  .career_job__description p:nth-child(1) {
    font-size: var(--font-micro);
    /* font-weight: var(--weight-semi-bold);
    color: var(--color-light-grey);
    margin: 0; */
  }
  
  .career_job__description span {
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
    /* margin: 0; */
  }
  
  .career_job__description p:nth-child(2) {
    font-weight: var(--weight-heavy-bold);
    font-size: var(--font-regular-medium);
    margin-top: 10px;
  }
  
  .career_job__description p:nth-child(3) {
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
    /* color: var(--color-grey); */
  }
  
  
  .career_job__description p:nth-child(4) {
    font-size: var(--font-micro);
    /* font-weight: var(--weight-heavy-bold);
    color: var(--color-light-grey); */
  }

  .career__interest__question {
    /* z-index: 1; */
    font-size: var(--font-medium);
    /* font-weight: var(--weight-bold); */
   }

   /* .job {
    flex-grow: 1;
  } */

  .career_interest__wave::before {
    right: 30%;
    /* margin-top: 85px; */
  }


  .career__interest svg {
    right: 27%;
    /* margin-top: 90px; */
  }





}


@media screen and (max-width:670px) {
  h1 {
    font-size: var(--font-large);
  }

  
  h2 {
    font-size: var(--font-medium-large);
    /* font-weight: var(--weight-bold); */
    /* margin: 8px 0; */
    /* margin: 0;
    color: var(--color-white); */
  }
  
  h3 {
    font-size: var(--font-medium);
    /* font-weight: var(--weight-bold);
    margin: 8px 0;
    margin: 0;
    color: var(--color-white); */
  }
  
  h4 {
    font-size: var(--font-regular-slight-medium);
    /* font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 8px 0; */
  }
  
  p {
    font-size: var(--font-regular);
  }


  .home__title {
    max-width: 530px;
  }

  .service__title h3 {
    margin: 0;
  }
  
  .service__extra p {
    max-width: 240px;
  }

  .job {
    height: 370px;
  }

  #career {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #career h4 {
    max-width: 150px;
    margin: auto;
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
    line-height: 30px;
  }

  #career h2 {
    margin-top: 20px;
  }

  .career_job__posting {
    margin-bottom: 0;
  }

  .career__screen {
    margin-bottom: 100px;
  }

  .career__interest__description {
    margin-top: 0;
    font-size: var(--font-regular-slight-medium);
    /* font-weight: var(--weight-semi-bold); */
    width: 300px;
    margin: auto;
    margin-top: 17px;
    margin-bottom: 10px;
  }


  .career_interest__wave::before {
    right: 16%;
    /* margin-bottom: 2px; */
  }


  .career__interest svg {
    right: 10%;
    /* margin-bottom: 5px; */
  }

  .career__interest {
    /* justify-content: center; */
    /* width: 20px; */
    margin: 0;
  }

  .career__interest i {
    position: sticky;
    display: block;
    right: 10%;
    /* margin-bottom: 30px; */
  }

  .application__page {
    font-size: var(--font-regular);
  }
  
  .application__page i {
    margin-left: 4px;
  }

  .upBtn {
    bottom: 80px;
    right: 80px;
  }
  
  #contact{
    text-align: center;
  }

  #about h2, #contact h2 {
    font-size: var(--font-medium);
  }

  .contact__links{
    margin: auto;
    display: flex;
    justify-content: center;
  }
  /* #contact.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  #contact button {
    width: 50px;
    height: 50px
  }
  
  .contact__link {
    margin-right: 14px;
  }

  /* .contact__link a {
    font-size: 22px;
  }   */

  .contact__rights, .footer_businessInfo {
    font-size: var(--font-micro);
  }


  .career_job__description p:nth-child(4) {
    margin: 0;
  }

  .application__name {
    display: flex;
    flex-direction: column;
    
  }

  .application__name__first {
    padding-right: 0;
  }

  .application__name__last{
    padding-left: 0;
  }

  #lastname {
    margin-bottom: 0;
  }

  .career__application {
    padding: 25px;
  }

  .career__application label {
    font-size: var(--font-small);
  }

  .career__application input {
    height: 40px;
    border-radius: var(--size-border-heavy-radius);
    font-size: var(--font-small);
    margin-bottom: 20px;
  }

  .application__content__form {
    border-radius: var(--size-border-heavy-radius);
    font-size: var(--font-small);
  }

  #submit__button {
    width: 190px;
    height: 43px;
    border-radius: var(--size-border-extend-heavy-radius);
    font-size: var(--font-regular);
    font-weight: var(--weight-heavy-bold);
  }
}

